<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="admin.html" />
  <head>
    <title>$label_plural</title>
  </head>

  <body>
    <h2>Manage $label_plural</h2>

    <py:choose test="view">
      <form py:when="'detail'" class="mod" id="modrule" method="post" action="">
        <fieldset>
          <legend>Modify $label_singular:</legend>
          <div class="field">
            <label>Name:<br /><input type="text" name="name" value="$rule.name"/></label>
          </div>
          <div class="field">
            <label>Condition:<br /><input type="text" size="65" name="condition" value="$rule.condition"/></label>
          </div>
          <div class="field">
            Required Fields:<br />
            <py:for each="f in fields">
              <label py:if="f.name in rule.required"><input type="checkbox" name="required" value="$f.name" checked="checked"/> $f.label</label>
              <label py:if="f.name not in rule.required"><input type="checkbox" name="required" value="$f.name"/> $f.label</label>
            </py:for>
          </div>
          <div class="field">
            Hidden Fields:<br />
            <py:for each="f in fields">
              <label py:if="f.name in rule.hidden"><input type="checkbox" name="hidden" value="$f.name" checked="checked"/> $f.label</label>
              <label py:if="f.name not in rule.hidden"><input type="checkbox" name="hidden" value="$f.name"/> $f.label</label>
            </py:for>
          </div>
          <div class="buttons">
            <input type="submit" name="cancel" value="Cancel" />
            <input type="submit" name="save" value="Save" />
          </div>
        </fieldset>
      </form>

      <py:otherwise>
        <form class="addnew" id="addrule" method="post" action="">
          <fieldset>
            <legend>Add $label_singular:</legend>
            <div class="field">
              <label>Name:<br /><input type="text" name="name" /></label>
            </div>
            <div class="buttons">
              <input type="submit" name="add" value="Add"/>
            </div>
          </fieldset>
        </form>

        <py:choose>
          <form py:when="rules" id="rules_table" method="post" action="">
            <table class="listing" id="ruleslist">
              <thead>
                <tr><th class="sel">&nbsp;</th>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                <tr py:for="item in rules">
                  <td class="sel"><input type="checkbox" name="sel" value="$item.name" /></td>
                  <td class="name">
                    <a href="${panel_href(item.name)}">$item.name</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="buttons">
              <input type="submit" name="remove" value="Remove selected items" />
            </div>
            <p class="help">
              You can remove all the items in this list to perform no ticket validation at all.
            </p>
          </form>

          <p py:otherwise="" class="help">
            There are currently no ticket validation rules configured.
          </p>
        </py:choose>
      </py:otherwise>
    </py:choose>
  </body>

</html>
